@import '~sass-flex-mixin/flex';

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(35, 42, 48, 0.8);
  z-index: 1000000;
  display: flex;
  align-items: center;
  justify-content: center;

  &.closed {
    display: none;
  }

  .modal {
    width: 31.25rem;
    background: white;

    .modal-header {
      height: 3.1875rem;
      background: #216FB5;
      display: flex;

      .modal-title {
        flex: 1;
        padding-left: 1.75rem;
        text-align: left;
        align-self: center;
        letter-spacing: 0.0125rem;
        font-weight: 200;
        color: #FFF;
      }

      .modal-close {
        padding: 1rem;
        margin-right: 0.75rem;
        color: #FFF;
        cursor: pointer;
      }
    }

    .modal-body {
      .modal-error {
        @include flexbox;
        @include justify-content(space-between);

        padding: 1rem 1.75rem;
        color: #FFF;
        background: #EC7B7B;

        .error-close {
          cursor: pointer;
        }
      }
    }

    .modal-footer {
      height: 3rem;
      border-top: 1px solid #e8e8e8;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .save-button {
        float: right;
        align-self: flex-end;
        margin-right: 1.75rem;
      }
    }
  }
}
