@import '~sass-flex-mixin/flex';

.wrapper {
  @include flexbox;
  @include flex-direction(column);
}

.page-header {
  @include flexbox;
  @include align-items(center);
  @include flex(1);

  height: 3.75rem;
  background: #F58025;
  border-bottom: 1rem solid #E7E7E7;
  margin-bottom: 2.75rem;

  .header-title {
    margin-left: 1.75rem;
    color: #FFF;
    font-weight: 100;
  }
}

body.modal-open {
  overflow-y: hidden;
}
