.button {
  background: #216FB5;
  display: inline;
  color: #FFF;
  padding: 0.4375rem 0.875rem;
  cursor: pointer;
  font-size: 0.8rem;

  &:active {
    box-shadow: inset -3px 3px 0px #164875;
  }

  span.fa {
    &.with-children {
      padding-right: 0.5rem;
    }
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}
