@import '~sass-flex-mixin/flex';

.table-container {
  padding: 0 1.75rem;

  .table-interactions {
    @include flexbox;
    @include justify-content(space-between);

    padding-bottom: 1.875rem;

    .search-bar {
      @include flexbox;
      @include justify-content(space-between);

      .search {
        padding: 0.4375rem 0.625rem;
        font-size: 0.8rem;
        border-top-left-radius: 0.15rem;
        border-bottom-left-radius: 0.15rem;
        border: 0.0625rem solid #909090;
        border-right-width: 0;
        width: 10rem;
      }

      .search-button {
        border-top-right-radius: 0.15rem;
        border-bottom-right-radius: 0.15rem;
      }
    }

    .add-contact-button {
    }
  }

  .table {
    table {
      width: 100%;
      border: 0.125rem solid #A7A7A7;
      border-collapse:collapse;
      border-top-width: 0.0625rem;

      th, td {
        padding: 0.6875rem 0 0.4375rem 1rem;
        text-align: left;
        font-weight: 200;
        font-size: 0.8rem;
        border: 0.0625rem solid #EDEDED;
      }

      th {
        background: #676767;
        color: white;
        cursor: pointer;

        .filtered {
          margin-right: 0.625rem;
        }
      }
    }
  }
}

.add-contact-modal {
  .save-button {
    background: #676767;

    &:active {
      box-shadow: inset -3px 3px 0px #444;
    }
  }

  .add-contact-modal-body {
    padding: 1.75rem;

    .form-field-group {
      display: flex;
      justify-content: space-between;
    }

    .form-field {
      display: flex;
      flex-direction: column;
      padding-bottom: 1rem;

      .form-label {
        font-size: 0.8rem;
        padding-bottom: 0.1rem;
      }
    }

    input {
      font-size: 0.8rem;
      width: 10rem;
    }

    input, textarea {
      border-radius: 0.15rem;
      border: 0.0625rem solid #909090;
      padding: 0.4375rem 0.625rem;
    }
  }
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #bcbcbc;
  font-size: 0.625rem;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #bcbcbc;
  font-size: 0.625rem;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #bcbcbc;
  font-size: 0.625rem;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #bcbcbc;
  font-size: 0.625rem;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color: #bcbcbc;
  font-size: 0.625rem;
}
